[user]
	name = Red Huq
	email = UPDATETHIS@gmail.com
[alias]
	st = status
	cm = commit -m
	br = branch
	co = checkout
	df = diff
	rt = remote
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(yellow)%h%C(reset) %C(magenta)(%ar)%C(reset)%C(auto)%d%C(reset) %s%C(reset) %C(blue)[%an]%C(reset) %n'
	fuckit = reset --hard
	ft = fetch -v
        ftu = fetch upstream -v
[color "status"]
	added = green
	changed = blue
	untracked = red
